<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul>
          <li><a routerLink="/catalog">Home</a></li>
          <li><a routerLink="/register" *ngIf="!isLoggedIn">Sign Up</a></li>
          <li><a routerLink="">Downloads</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>About us</h5>
        <ul>
          <li><a routerLink="">Company Information</a></li>
          <li><a routerLink="">Contact us</a></li>
          <li><a routerLink="">Reviews</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Support</h5>
        <ul>
          <li><a routerLink="">FAQ</a></li>
          <li><a routerLink="">Help desk</a></li>
          <li><a routerLink="">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Legal</h5>
        <ul>
          <li><a routerLink="">Terms of Service</a></li>
          <li><a routerLink="">Terms of Use</a></li>
          <li><a routerLink="">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2021 STORE All Rights Reserved</p>
  </div>
</footer>
